body {
    font-family: "Lato";
}

h1 {
    font-family: "Englebert";
    font-size: 60px;
}

h2 {
    font-family: "Englebert";
}

h3 {
    font-family: "Lato";
    font-size: 30px;
}

.sub-header {
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-family: "Lato";
    font-size: 1.25em;
}

.subscribe-p {
    font-weight: bold;
  }

hr {
    border-top: 5px solid white;
    border-radius: 5px;
}

.container {
    /* width: 1170px; */
    /* width: 100%; */
}

/* #color div {
    width: 3vw;
    height: 3vw;
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
  } */

@media (max-width: 1050px) {

    h1 {
      /* font-size: 50px; */
      text-align: center;
    }

    h3 {
      font-size: 25px;
      text-align: center;
    }

    .long-hair-guinea {
        /* width: 75%;         */
        display: block;
  margin: auto;
  float: none;
    }
}

@media (max-width: 842px) {

    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
   
    .long-hair-guinea {
        /* width: 75%;         */
        display: block;
        margin: auto;
        float: none;
    }
    
    /* .header-image {
        float: left;
    } */

    .header-h1,
    .header-h3 {
        float: left;
        width: 100%;
        /* margin-left: 80px; */
        text-align: center;
    }

    .header-h3 {
        /* display: flex; */
        /* margin-left: 5px; */
    }

    .header {
        padding-left: 0px;
    }

    h1 {
        margin-top: 5px;
        font-size: 55px;
    }

    .guinea-in-grass {
        float: none;
        width: 100%;
        border-radius: 7% 7% 7% 7%;
        margin-bottom: 20px;
    }

    .brown-guinea {
        float: none;
        width: 100%;
        border-radius: 7% 7% 7% 7%;
        margin: auto;
        margin-bottom: 20px;
    }

    .facts {
        margin: auto;
    }

    .home-video {
        /* margin-left: 20px; */
        float: none;
        width: 100%;
        margin-bottom: 15px;

    }

}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
