/*----------------------------------------------------------------------------*/
/*                                GENERAL STYLES                              */
/*----------------------------------------------------------------------------*/


body {
    font-family: "Lato";
}

h1 {
    font-family: "Englebert";
    font-size: 60px;
}

h2 {
    font-family: "Englebert";
}

h3 {
    font-family: "Lato";
    font-size: 30px;
}

.sub-header {
    text-align: center;
    margin-bottom: 40px;
}

p {
    font-family: "Lato";
    font-size: 1.25em;
}

.subscribe-p {
    font-weight: bold;
  }

hr {
    border-top: 5px solid white;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 40px;
}

/*----------------------------------------------------------------------------*/
/*                                   MEDIA QUERY                              */
/*----------------------------------------------------------------------------*/

@media (max-width: 1050px) {

 h1 {
    text-align: center;
 }

h3 {
    font-size: 30px;
    text-align: center;
}

 .long-hair-guinea {
    display: block;
    margin: auto;
    float: none;
 } 
}

@media (max-width: 1200px) {   

form {
    max-width: 525px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

      .form-ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1em;
      }

     label {
        display: block;
        margin-bottom: 8px;
      }
      
      .form-ul li {
        padding: 8px 0;
        display: flex;
        text-align: center;
        position: relative;
        width: 100%;
        margin: 0;
        counter-increment: step-counter;
        flex: 1 250px;
      }

      input[type="text"],
      input[type="email"],
      textarea,
      select {
        background: rgba(255,255,255,0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #e8eeef;
        color: #8a97a0;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        margin-bottom: 30px;
      }
      
      select {
        padding: 6px;
        height: 32px;
        border-radius: 2px;
      }
      
    .subscribe-button {
        position: 0;
        left: 0;
        width: 100%;
    }  
    
    .social-list__item{
        padding-top: 10px;
      }

    .social-list {
        margin-top: 10px;
    }
}

@media (max-width: 842px) {

    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
   
    .long-hair-guinea {
        display: block;
        margin: auto;
        float: none;
    }

    .header-h1,
    .header-h3 {
        float: left;
        width: 100%;
        text-align: center;
    }

    .header {
        padding-left: 0px;
    }

    h1 {
        margin-top: 5px;
        font-size: 55px;
    }

    .guinea-in-grass {
        float: none;
        width: 100%;
        border-radius: 7% 7% 7% 7%;
        margin-bottom: 20px;
    }

    .brown-guinea {
        float: none;
        width: 100%;
        border-radius: 7% 7% 7% 7%;
        margin: auto;
        margin-bottom: 20px;
    }

    .black-guinea {
        float: none;
        width: 100%;
        border-radius: 7% 7% 7% 7%;
        margin: auto;
        margin-bottom: 20px;
    }

    .facts {
        margin: auto;
    }

    .home-video {
        float: none;
        width: 100%;
        margin-bottom: 15px;

    }

}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
