body {
    font-family: "Lato";
}

h1 {
    font-family: "Englebert";
    font-size: 55px;
}

h2 {
    font-family: "Englebert";
}

h3 {
    font-family: "Lato";
    font-size: 30px;
}

p {
    font-family: "Lato";
    font-size: 1.25em;
}

hr {
    border-top: 5px solid white;
    border-radius: 5px;
}

.container {
    /* width: 1170px; */
    /* width: 100%; */
}


