*, *:before, *:after {
  box-sizing: border-box;
}

/*----------------------------------------------------------------------------*/
/*                              Main Styles                                   */
/*----------------------------------------------------------------------------*/

.header {
  padding-left: 25px;
  text-align: left;
  background: white;
  color: white;
  font-size: 20px;
  /* display: inline; */
  background: url("/img/field_of_flowers.jpg");
}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
}

h1 {
  margin-left: 11px;
  margin-bottom: 5px;
  margin-top: 0px;
}


h1::first-letter {
  font-size: 60px;
}


hr {
  height: 2px;
  width: 50%;
  border-width: 0;
  color: gray;
  background-color: #030301;
  margin-top: 3em;
  margin-bottom: 3em;
}

.subtitle {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-family: "Lato";
}

.icon {
  background: url('/img/guinea_pig_icon.png');
  height: 55px;
  width: 75px;
  display: inline-block;
  color: white;
  /* Other styles here */
}

/*----------------------------------------------------------------------------*/
/*                                 TABS                                       */
/*----------------------------------------------------------------------------*/



/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 18px;
  font-weight: 200;
  width: 25%;
}

.welcome {
  color: #030301;
}

i {
  padding-right: 1.5em;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #030301;
  display: none;
  padding: 50px 0px;
  height: 100% auto;
}

#Home {background-color:  #FBE57B;}
#Learning {background-color: #23E4D2;}
#Subscribe {background-color: #87D982;}
#About {background-color: #8D93AD;}

/*----------------------------------------------------------------------------*/
/*                                 HOME STYLES                                */
/*----------------------------------------------------------------------------*/

.clearfix:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: .5em;
  clear: both;
}

.long-hair-guinea {
  float: right;
  border: 7px solid #ddd;
  padding: .5px;
  width: 200px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 50%;
  vertical-align: middle
}

.gp-mission{
  position: relative;
}

.guinea-carrot-1 {
  width: 100%;
  margin: 0 auto;
  /* padding-top: 0px; */
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.guinea-in-grass {
  float: left;
  border: 7px solid #ddd;
  padding: .5px;
  width: 50%;
  margin-right: 15px;
}

.rounded {
  border-radius: 0 7% 7% 0;
  filter: drop-shadow(0 0 4px #333);
  margin-right: 30px;
}


/* Fact of the Day */

.brown-guinea {
  float: right;
  border: 7px solid #ddd;
  padding: .5px;
  width: 50%;
  margin-left: 15px;
}

.rounded-2 {
  border-radius: 7% 0 0 7%;
  filter: drop-shadow(0 0 4px #333);
  margin-left: 30px;
}


.button {
  color: #fff;
  text-align: center;
  font-style: normal;
  padding: .625em 4.25em;
  background: #4bc970;
  border: 1px solid #3ac162;
  border-radius: .35em;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}


/* Tutorials */

.home-video {
  float: left;
  padding: .5px;
  width: 50%;
  margin-right: 15px;
}

/*----------------------------------------------------------------------------*/
/*                                 LEARNING CENTER STYLES                                */
/*----------------------------------------------------------------------------*/

.carousel-caption {

}

.tstyle {
  background-color: white;
  width: 1050px;
}


/*----------------------------------------------------------------------------*/
/*                                 SUBSCRIBE STYLES                           */
/*----------------------------------------------------------------------------*/

.subscribe{
  color: #030301;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 165px;
  text-align: left;
}

input, 
textarea,
select {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus, 
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

.lights {
  padding: .5px;
  width: 50%;
  margin-right: 15px;
}

a {
  color: #3f8aBf;
  text-decoration: none;
}

a:hover {
  color: #3079ab;
}

a:visited {
  color: #5a6772;
}

h1, h2, h3 {
  font-weight: 500;
  color: #384047;
}

h1 {
  font-size: 1.8em;
  margin: 60px 0 40px;
}

h2 {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    padding: 20px 0 20px 0;
}

#home h2 {
  margin: -40px 0 0;
}

h3 {
  font-size: .9em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h3 em {
  font-style: normal;
  font-weight: 300;
  margin: 0 0 10px 5px;
  padding: 0;
  color: #8d9aa5;
}

ol {
  margin: 0 0 20px 32px;
  padding: 0;
}

#home ol {
  list-style-type: none;
  margin: 0 0 40px 0;
}

li {
  padding: 8px 0;
  display: list-item;
  width: 100%;
  margin: 0;
  counter-increment: step-counter;
}

#home li::before {
    content: counter(step-counter);
    font-size: .65em;
    color: #fff;
    font-weight: 300;
    padding: 2px 6px;
    margin:  0 18px 0 0;
    border-radius: 3px;
    background:#8d9aa5;
    line-height: 1em;
}

.lens {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #8d9aa5;
  border-radius: 5px;
  position: absolute;
  margin: 5px 0 0 -19px;
}

#color div {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
}

span {
  color: white;
}


/*----------------------------------------------------------------------------*/
/*                                 ABOUT ME STYLES                            */
/*----------------------------------------------------------------------------*/


.about_me{
  color: #030301;
}

/*----------------------------------------------------------------------------*/
/*                                     FOOTER                                 */
/*----------------------------------------------------------------------------*/


/* Footer */

.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 3px;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 1.0em 0;
  font-size: var(--fs-h3);
}

.footer > p {
  margin-top: 25px;
}

.footer a {
  color: inherit;
  text-decoration: none;  
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}


/*----------------------------------------------------------------------------*/
/*                                   MEDIA QUERY                              */
/*----------------------------------------------------------------------------*/

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {
  .tablink {
    float: none;
    width: 100%;
  }

  .tabcontent {
    padding-top: 10px;
  }
}

