*, *:before, *:after {
  box-sizing: border-box;
}


/*----------------------------------------------------------------------------*/
/*                                 TABS                                       */
/*----------------------------------------------------------------------------*/

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100% auto;
}

#Home {background-color: red;}
#Learning {background-color: green;}
#Subscribe {background-color: blue;}
#About {background-color: orange;}

/*----------------------------------------------------------------------------*/
/*                                 HOME STYLES                                */
/*----------------------------------------------------------------------------*/

.clearfix:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 2em;
  clear: both;
}

.guinea-in-grass {
  float: left;
  border: 7px solid #ddd;
  padding: .5px;
  width: 50%;
  margin-right: 15px;
}

.rounded {
  border-radius: 0 7% 7% 0;
  filter: drop-shadow(0 0 4px #333);
  margin-right: 30px;
}


/* Fact of the Day */

.brown-guinea {
  float: right;
  border: 7px solid #ddd;
  padding: .5px;
  width: 50%;
  margin-left: 15px;
}

.rounded-2 {
  border-radius: 7% 0 0 7%;
  filter: drop-shadow(0 0 4px #333);
  margin-left: 30px;
}


.button {
  color: #fff;
  text-align: center;
  font-style: normal;
  padding: .625em 4.25em;
  background: #4bc970;
  border: 1px solid #3ac162;
  border-radius: .35em;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}


/* Tutorials */

.tutorials {
  float: left;
  padding: .5px;
  width: 40%;
  margin-right: 15px;
}

/*----------------------------------------------------------------------------*/
/*                                 LEARNING CENTER STYLES                                */
/*----------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------*/
/*                                 SUBSCRIBE STYLES                                */
/*----------------------------------------------------------------------------*/






/*----------------------------------------------------------------------------*/
/*                                 ABOUT ME STYLES                                */
/*----------------------------------------------------------------------------*/





